extends ../layouts/default

block main
	.container.u-mt2
		.coin-overview.u-mb4
			img(src=data.coin.image.url height='60' class="u-mr2")
			h1= data.coin.name
		.store-listing-container
			.shop-list
				if data.stores.length
					h4 Great places to use your #{data.coin.name}
					hr
					for store in data.stores
						+storeListing(store)
						//- if store.image.url
						//- 	img(src=store.image.url alt=store.image.alt height="32")
						//- p= store.name
				else
					h3 We couldn't find anywhere that accepts #{data.coin.name} just yet
					p If you know somewhere, please <a href="/submit"> submit a store </a>
			
			//- .coin-profile
				h5 Coin Profile
				p Market Code: #{data.coin.marketCode}
				p= data.coin.description
