extends ../layouts/default

block main
	.container.u-mt4.u-pb4
		.row
			if data && data.coins
				h4.u-center Find great marketplaces to use your:
				.coin-listing-container
					for coin in data.coins
							+coinListing(coin).pad2
							
							//- a(href=`/${coin.marketCode}/`)
							//- 	img(src=coin.image.url alt=coin.image.alt height='80')
							//- 	h4 #{coin.name} 
							//- 		span(class="small") (#{coin.marketCode})
								//- p= coin.description
