extends ../layouts/default

block main
	.container
		
		img(src=data.coin.image.url height='80')
		
	
		if data.stores.length
			h1 Great stores to spend your #{data.coin.name}
			for store in data.stores
				if store.image.url
					img(src=store.image.url alt=store.image.alt height="32")
				p= store.name
		else
			h1 We coulnd't find anywhere that accepts #{data.coin.name} just yet
			p If you know any please <a href=""> submit them </a>
