mixin coinListing(coin)
	a(href=`/coin/${coin.marketCode}/` class='coin-listing u-p1 u-m1')&attributes(attributes)
		img(src=coin.image.url alt=coin.image.alt)
		h4= coin.name 
			span.market-code &nbsp;(#{coin.marketCode})
			block

mixin storeListing(store)
	a(href=store.url target="_blank" class="store-listing u-m1")&attributes(attributes)
		.image-container.u-p1
			if store.image && store.image.url
				img(src=store.image.url alt=store.image.alt)
		.text-container.u-p1
			h4= store.name
			
			ul.supported-coins
				for coin in store.coins
					li
						img(src=coin.image.url alt=coin.name height="16")
				if store.verified
					li.verified 
						span Verified
			p= store.description
